$fontType:"Arial";
///////////////////////////////
$titleColor: #333333;
$textColor: #666666;
$tipColor: #999999;
$controlTipColor: #B2B2B2;
$unableTitleColor: #C9C9C9;

$textChangeColor: #FFFFFF;
$backgroundColor: #F5F5F5;
$borderColor: #E5E5E5;

$lightOrangeColor:#FFF1EA;
$orangeColor: #FC6621;
$darkOrangeColor:#D9621C;
$redColor: #FE0F17;
$blueColor: #169BD5;
$lightGreenColor: #8BC34A;

///////////////////////////////
$fontSize18: 18;
$fontSize16: 16;
$fontSize14: 14;
$fontSize12: 12;
$fontSize10: 10;
///////////////////////////////
$round5: 2;
$round5: 5;
$round10: 10;

